<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginValidateServlet</servlet-name>
        <servlet-class>com.FilesPack.LoginValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCourseOfferServlet</servlet-name>
        <servlet-class>com.FilesPack.UploadCourseOfferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadRoutine</servlet-name>
        <servlet-class>com.FilesPack.UploadRoutine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bug_Teacher</servlet-name>
        <servlet-class>com.FilesPack.Bug_Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bug_Student</servlet-name>
        <servlet-class>com.FilesPack.Bug_Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateRoutineForTeachers</servlet-name>
        <servlet-class>com.FilesPack.GenerateRoutineForTeachers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateRoutineForStudents</servlet-name>
        <servlet-class>com.FilesPack.GenerateRoutineForStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>publishRoutine</servlet-name>
        <servlet-class>com.FilesPack.publishRoutine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unpublishRoutine</servlet-name>
        <servlet-class>com.FilesPack.unpublishRoutine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAllTeacherRoutine</servlet-name>
        <servlet-class>com.FilesPack.ProcessAllTeacherRoutine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidateServlet</servlet-name>
        <url-pattern>/LoginValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCourseOfferServlet</servlet-name>
        <url-pattern>/UploadCourseOfferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadRoutine</servlet-name>
        <url-pattern>/UploadRoutine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bug_Teacher</servlet-name>
        <url-pattern>/Bug_Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bug_Student</servlet-name>
        <url-pattern>/Bug_Student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateRoutineForTeachers</servlet-name>
        <url-pattern>/GenerateRoutineForTeachers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateRoutineForStudents</servlet-name>
        <url-pattern>/GenerateRoutineForStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>publishRoutine</servlet-name>
        <url-pattern>/publishRoutine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unpublishRoutine</servlet-name>
        <url-pattern>/unpublishRoutine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAllTeacherRoutine</servlet-name>
        <url-pattern>/ProcessAllTeacherRoutine</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
     <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
 <!--   
    <error-page>
    <error-code>403</error-code>
    <location>/403.html</location>
    </error-page>
    -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
